<ion-header >
  <ion-toolbar color="primary">
    <ion-title>
      Login
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <!--  {{misaludo}}
   <ion-label>{{"hello" | translate}}</ion-label>
<H1>{{"close" | translate}}</H1>
<ion-button (click)="cambio()">Cambiar!!!</ion-button>
<ion-button (click)="cambio2()">Cambiar!!!</ion-button>-->
<ion-label><strong> Pulsa este botón para cerrar sesión

  
</strong></ion-label>
<ion-button (click)="this.logout()">Cerrar</ion-button>
</ion-content>
